html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Variables */
body {
  margin: 0;
  font-size: 16px;
  font-family: "PT Serif";
  line-height: 1.6;
  color: #fff;
  background-color: #ffffff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin: 0px auto;
}
/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 60px;
  color: #fff;
  font-family: Satisfy;
  text-transform: lowercase;
}
.nav__link {
  font-family: Montserrat;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s linear;
}
.nav__link.active {
  background-color: #5dbbc1;
}
.nav__link.active,
.nav__link:hover {
  background-color: #5dbbc1;
}
/* Nav Toggle */
.nav-toggle {
  display: none;
  font-size: 0px;
  color: transparent;
  width: 30px;
  padding: 10px 0px;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background-color 0.3s linear;
}
.nav-toggle__item:after,
.nav-toggle__item:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform .3s linear;
}
.nav-toggle__item:after {
  bottom: -8px;
}
.nav-toggle__item:before {
  top: -8px;
}
.nav-toggle.active .nav-toggle__item {
  background: none;
}
.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0px);
}
.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0px);
}
/* Intro */
.intro {
  background: url("../images/inner_bg.png") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.intro .container {
  display: flex;
  justify-content: space-between;
}
.inner {
  width: 96%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 71%;
  transform: translateY(-50%);
}
.intro__inner {
  max-width: 460px;
}
.intro__subtitle {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.0;
}
.intro__subtitle span {
  color: #5dbbc1;
}
.intro__text {
  margin-top: 50px;
  margin-right: 20px;
  font-size: 20px;
}
.forms {
  display: flex;
  justify-content: flex-end;
}
.form {
  max-width: 400px;
  padding: 30px 20px;
  background-color: #5dbbc1;
  border-radius: 7px;
}
.form__title {
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.input {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
}
.input:focus {
  outline: 0;
}
.input:first-child {
  margin-top: 25px;
}
.checkbox {
  display: none;
}
.checkbox--label .check {
  content: '';
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 2px;
}
.checkbox--label .check i {
  font-size: 20px;
  color: #162437;
  opacity: 0;
  transition: 0.3s;
}
.check__text {
  display: inline;
  font-size: 20px;
}
.checkbox:checked + .checkbox--label i {
  opacity: 1;
  animation: rotateCheck 2.5s;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 15px 0px;
  border: 0px;
  border-radius: 7.5px;
  background-color: #130e27;
  transition: color .3s linear;
}
.btn:hover {
  color: #dad8d8;
}
/* Section */
.section__title {
  text-transform: uppercase;
  font-size: 60px;
  color: #5dbbc1;
  font-weight: 700;
}
.section__title span {
  color: #130e27;
}
/* Services */
.services {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.services__item {
  position: relative;
  margin-bottom: 60px;
}
.services__img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.services__text {
  color: #161616;
  text-align: center;
  max-width: 165px;
  margin: 180px 0px 0px;
}
/* Call/Pricing */
.callPricing .container {
  display: flex;
  align-items: center;
  padding: 40px 0px;
}
.callPricing {
  background-color: #5dbbc1;
}
.callPricing .btn {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  max-width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callPricing .btn:hover {
  color: #dad8d8;
}
.callPricing__title {
  margin-right: 110px;
}
/* Card */
.cards {
  padding: 50px 0px 0px;
  background-color: #efefef;
}
.card {
  display: flex;
  justify-content: space-between;
}
.card__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  color: #130e27;
  font-weight: 700;
  margin-bottom: 30px;
}
.card__item {
  text-align: center;
  padding: 30px;
  margin: 0px 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card__item .btn {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  max-width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__item .btn:hover {
  color: #dad8d8;
}
.card__item.marker:after {
  content: "";
  display: block;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 100px solid #5dbbc1;
  border-right: 100px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.card__item.marker:before {
  content: "Popular";
  display: block;
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 2%;
  transform: rotate(-45deg);
}
.card__item.marker .btn {
  color: #161616;
  background-color: #5dbbc1;
}
.card__item.marker .btn:hover {
  color: #372f2f;
}
.card__title,
.card__text {
  color: #161616;
}
.card__title {
  font-size: 20px;
}
.card__price {
  text-transform: uppercase;
  font-weight: 700;
  color: #130e27;
  font-size: 60px;
  font-family: Montserrat;
}
.card__text {
  margin: 30px 0px;
}
/* Testimonials */
.testimonialGallery {
  padding: 100px 0px;
}
.testimonialGallery .container {
  display: flex;
  justify-content: space-between;
}
.testimonial__title,
.gallery__suptitle {
  text-transform: uppercase;
  font-size: 60px;
  color: #130e27;
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.testimonial__item {
  position: relative;
  box-sizing: content-box;
  border-radius: 7.5px;
  padding: 20px 55px 20px 20px;
  margin: 0px 0px 50px 0px;
  width: 100%;
  max-width: 330px;
}
.testimonial__item.marker {
  background-color: #5dbbc1;
}
.testimonial__item.marker .testimonial__text {
  color: #fff;
}
.testimonial__text {
  color: #161616;
}
.testimonial__suptext {
  margin-top: 20px;
  color: #130e27;
  font-size: 18px;
}
.testimonial__images,
.gallery__images {
  border-radius: 100%;
  box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.3);
}
.testimonial__images {
  position: absolute;
  top: 50%;
  right: -55px;
  transform: translateY(-50%);
}
/* Gallery */
.gallery {
  margin-left: 100px;
}
.gallery__suptitle {
  color: #5dbbc1;
}
.gallery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery__item {
  width: 33%;
  margin-bottom: 25px;
}
.gallery__images {
  display: block;
  margin: 0px auto;
}
.gallery__subtitle {
  margin-top: 40px;
  color: #161616;
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
}
/* footer */
.footer {
  padding: 40px;
  background-color: #130e27;
}
.footer span {
  color: #5dbbc1;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  font-size: 60px;
  color: #fff;
  font-family: Satisfy;
  text-transform: lowercase;
  color: #5dbbc1;
}
/* Media */
@media (max-width: 990px) {
  .container {
    padding: 0px 20px;
  }
  /* callPricing */
  .callPricing {
    padding: 0px 20px;
  }
}
@media (max-width: 870px) {
  /* Section */
  .section__title {
    font-size: 50px;
  }
  /* Intro */
  .intro__subtitle {
    font-size: 60px;
  }
  /* Testimonial */
  .testimonialGallery {
    padding: 60px 0px;
  }
  .testimonialGallery .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .testimonial__item {
    box-sizing: border-box;
    max-width: 80%;
    margin: 30px auto 0px;
  }
  .testimonial__title,
  .gallery__suptitle {
    font-size: 50px;
    margin-bottom: 30px;
  }
  /* Gallery */
  .gallery {
    margin: 50px 0px 0px 0px;
  }
  .gallery__item {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  /* Nav */
  .nav {
    display: none;
  }
  .nav-toggle {
    display: block;
    right: 20px;
  }
  /* Intro */
  .intro__subtitle {
    font-size: 50px;
  }
  .intro__inner {
    max-width: 300px;
  }
  .intro__text,
  .check__text {
    font-size: 16px;
  }
  .input {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .form {
    display: block;
    margin: 0px auto;
  }
  /* Section */
  .services__item {
    width: 50%;
  }
  .services__text {
    margin: 180px auto 0px;
    display: block;
  }
  /* Card */
  .card {
    display: block;
    padding-bottom: 15px;
  }
  .card__item {
    margin: 0px 0px 15px 0px;
  }
  .card__item.marker:before {
    left: 1%;
  }
  .card__header {
    font-size: 50px;
  }
  .card__price {
    font-size: 50px;
  }
}
@media (max-width: 660px) {
  .header {
    width: 100%;
  }
  .btn {
    font-size: 14px;
  }
  /* Inner */
  .inner {
    text-align: center;
    display: block;
    left: 50%;
    top: 74%;
    transform: translate3d(-50%, -50%, 0);
  }
  .intro__inner {
    max-width: 100%;
  }
  .intro__text {
    margin: 25px 0px;
  }
  /* Section */
  .media--section {
    margin-top: 260px;
  }
  .section__title {
    text-align: center;
  }
  /* Service */
  .services {
    margin-top: 20px;
  }
  .services__item {
    width: 100%;
  }
  /* CallPricing */
  .callPricing__title {
    margin-right: 50px;
  }
  .callPricing .btn {
    max-width: 160px;
  }
}
@media (max-width: 420px) {
  /* CallPricing */
  .callPricing .container {
    display: block;
  }
  .callPricing__title {
    text-align: center;
    margin-right: 10px;
  }
  .callPricing .container {
    padding: 25px 0px;
  }
  .callPricing .btn {
    margin-top: 10px;
    max-width: 100%;
  }
  /* Section */
  .section__title {
    font-size: 30px;
  }
  /* Intro */
  .intro {
    top: 80%;
  }
  .intro__subtitle {
    font-size: 40px;
  }
  .intro__text {
    margin: 15px 0px;
  }
  .inner {
    top: 74%;
  }
  .btn {
    font-size: 12px;
  }
  /* Testimonial */
  .testimonialGallery {
    padding: 20px 0px;
  }
  .testimonial__title,
  .gallery__suptitle {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .testimonial__item {
    margin: 80px auto 0px;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
  .testimonial__suptext {
    font-size: 15px;
  }
  .testimonial__images {
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
  }
  .testimonial__text {
    padding-top: 45px;
  }
  /* Gallery */
  .gallery__items {
    margin-top: 20px;
  }
  .gallery__item {
    width: 50%;
  }
  .gallery__subtitle {
    font-size: 20px;
    margin: 0px;
  }
  /* Footer */
  .footer {
    padding: 15px 15px 25px 15px;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer__text {
    order: 2;
  }
  .footer__logo {
    margin-bottom: 10px;
  }
}
@media (max-width: 324px) {
  /* Header */
  .header__logo {
    font-size: 40px;
  }
  /* Intro */
  .inner {
    top: 65%;
  }
  .form {
    padding: 10px;
  }
  .input {
    margin-bottom: 10px;
  }
  .form {
    width: 100%;
  }
  .input:first-child {
    margin-top: 10px;
  }
  .check__text {
    font-size: 12px;
    vertical-align: top;
  }
  .btn {
    margin-top: 10px;
  }
  /* Section */
  .section__title {
    font-size: 30px;
  }
  .media--section {
    margin-top: 140px;
  }
  /* Services */
  .services__item {
    margin-bottom: 50px;
  }
  .services__text {
    margin: 170px auto 0px;
  }
  /* Testimonial */
  .testimonial__title,
  .gallery__suptitle {
    font-size: 30px;
  }
  /* Card */
  .card__header {
    font-size: 40px;
  }
  .card__header {
    margin-bottom: 10px;
  }
  /* Gallery */
  .gallery__subtitle {
    margin-top: 0px;
    font-size: 18px;
  }
}
