html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Variables */
@font__size:            16px;

@font__size--level_1:   20px;
@font__size--level_2:   60px;
@font__size--level_3:   80px;

@font__family--logo:  Satisfy;
@font__family--title: Montserrat;
@font__family--text: "PT Serif";

@font__color--text--first: #fff;
@font__color--text--second: #5dbbc1;
@font__color--text--third: #130e27;
@font__color--text--quarters: #161616;

@font__color--btn--hover_1: #dad8d8;
@font__color--btn--hover_2: #372f2f;

@background__color--first: #5dbbc1;
@background__color--second: #130e27;

@max-width: 1000px;

@margin__checkbox: 25px;

@testimonial__images: 110px;

body{
  margin: 0;

  font-size: @font__size;
  font-family: @font__family--text;
  line-height: 1.6;
  color: @font__color--text--first;

  background-color: #ffffff;
}

*, *::after, *::before{
  box-sizing: border-box;
}

.container{
  max-width: @max-width;

  margin: 0px auto;
}


/* Header */

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  font-size: @font__size--level_2;
  color: @font__color--text--first;
  font-family: @font__family--logo;
  text-transform: lowercase;
}

.nav__link{
  font-family: @font__family--title;
  color: @font__color--text--first;
  font-size: @font__size--level_1;
  text-decoration: none;

  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;

  border-radius: 5px;

  transition: background-color .3s linear;

  &.active{
    background-color: @background__color--first;
  }

  &.active, &:hover{
    background-color: @background__color--first;
  }
}

/* Nav Toggle */
.nav-toggle{
  display: none;

  font-size: 0px;
  color: transparent;

  width: 30px;
  padding: 10px 0px;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.nav-toggle__item{
  display: block;
  width: 100%;
  height: 3px;

  background-color: #ffffff;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background-color .3s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after{
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .3s linear;
}

.nav-toggle.active .nav-toggle__item{
  background: none;
}

.nav-toggle__item:before{
  top: -8px;
}

.nav-toggle__item:after{
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before{
  transform-origin: left top;
  transform: rotate(45deg)
  translate3d(0px, -2px, 0px);
}

.nav-toggle.active .nav-toggle__item:after{
  transform-origin: left bottom;
  transform: rotate(-45deg)
  translate3d(0px, 3px, 0px);
}

/* Intro */
.intro{
  background: url("../images/inner_bg.png")
  center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 100vh;
  width: 100%;
  position: relative;
}

.intro .container{
  display: flex;
  justify-content: space-between;
}

.inner{
  width:96%;
  max-width: @max-width;

  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 71%;

  transform: translateY(-50%);
}

.intro__inner{
  max-width: 460px;
}

.intro__subtitle{
  font-family: @font__family--title;
  font-size: @font__size--level_3;
  font-weight:700;

  line-height: 1.0;

  & span{
    color: @font__color--text--second;
  }
}

.intro__text{
  margin-top: 50px;
  margin-right: 20px;
  font-size: 20px;
}

.forms {
  display: flex;
  justify-content: flex-end;
}

.form{  
  max-width: 400px;

  padding: 30px 20px;

  background-color: @background__color--first;
  border-radius: 7px;
}

.form__title{
  font-size: @font__size--level_1;
  color: @font__color--text--first;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.input{
  font-size:@font__size;

  width: 100%;
  height: 50px;

  padding: 20px;
  margin-bottom: @margin__checkbox;

  border-radius: 10px;

  &:focus{
    outline: 0;
  }
  &:first-child{
    margin-top: @margin__checkbox;
  }
}

.checkbox {
  display: none;
}

.checkbox--label .check {
  content: '';

  cursor: pointer;

  display: inline-block;
  width: @font__size--level_1;
  height: @font__size--level_1;
  background-color: #fff;

  border-radius: 5px;
  margin-right: 15px;
  margin-left: 2px;

  i{
    font-size: @font__size--level_1;
    color: #162437;
    opacity: 0;
    transition: 0.3s;
  }
}

.check__text{
  display: inline;
  font-size: @font__size--level_1;
}

.checkbox:checked + .checkbox--label i {
  opacity: 1;
  animation: rotateCheck 2.5s;
}

.btn{
  color:@font__color--text--first;
  font-size: @font__size--level_1;
  font-family: @font__family--title;
  font-weight: 600;

  cursor: pointer;

  display: block;
  width: 100%;
  margin-top: @margin__checkbox;
  padding: 15px 0px;
  border: 0px;
  border-radius: 7.5px;
  background-color: @font__color--text--third;

  transition: color .3s linear;
}

.btn:hover{
  color: @font__color--btn--hover_1;
}

.btn(@width; @height){
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  margin: 0px;
  padding: 0px;

  max-width: @width;
  height: @height;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section */
.section__title{
  text-transform: uppercase;
  font-size: @font__size--level_2;
  color: @font__color--text--second;
  font-weight: 700;
  span{
    color:@font__color--text--third;
  }
}

/* Services */
.services{
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.services__item{
  position: relative;

  margin-bottom: 60px;
}

.services__img{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);

  display: block;
}

.services__text{
  color: @font__color--text--quarters;
  text-align: center;

  max-width: 165px;
  margin: 180px 0px 0px;
}

/* Call/Pricing */
.callPricing .container{
  display: flex;
  align-items: center;

  padding: 40px 0px;
}

.callPricing{
  .btn{
    .btn(220px;50px);
  }

  .btn:hover{
    color:@font__color--btn--hover_1;
  }

  background-color: @background__color--first;
}

.callPricing__title{
  margin-right: 110px;
}

/* Card */
.cards{
  padding: 50px 0px 0px;

  background-color: #efefef;
}

.card{
  display: flex;
  justify-content: space-between;
}

.card__header{
  text-align: center;
  text-transform: uppercase;
  font-size: @font__size--level_2;
  color: @font__color--text--third;
  font-weight: 700;

  margin-bottom: 30px;
}

.marker(){
  &:after{
    content: "";

    display: block;
    z-index: 1;

    width: 0; 
    height: 0;
    border-top: 100px solid @background__color--first;
    border-right: 100px solid transparent;

    position: absolute;
    top: 0;
    left: 0;
  }

  &:before{
    content: "Popular";

    display: block;
    z-index: 2;

    position: absolute;
    top: 5%;
    left: 2%;

    transform: rotate(-45deg);
  }
}

.card__item{
  text-align: center;

  padding: 30px;
  margin: 0px 10px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  .btn{
    .btn(170px; 50px);
  }

  .btn:hover{
    color:@font__color--btn--hover_1;
  }
}

.card__item.marker{
  .marker();
  .btn{
    color: @font__color--text--quarters;
    background-color: @font__color--text--second;
  }

  .btn:hover{
    color:@font__color--btn--hover_2;
  }
}

.card__title, .card__text{
  color:@font__color--text--quarters;
}

.card__title{
  font-size: @font__size--level_1;
}

.card__price{
  text-transform: uppercase;

  font-weight: 700;
  color:@font__color--text--third;
  font-size: @font__size--level_2;
  font-family: @font__family--title;
}

.card__text{
  margin: 30px 0px;
}

/* Testimonials */
.testimonialGallery{
  padding: 100px 0px;
}

.testimonialGallery .container{
  display: flex;
  justify-content: space-between;
}

.testimonial__title,
.gallery__suptitle{
  text-transform: uppercase;
  font-size: @font__size--level_2;
  color: @font__color--text--third;
  font-family: @font__family--title;
  font-weight: 700;
  text-align: center;

  margin-bottom: 50px;
}

.testimonial__item{
  position: relative;
  box-sizing: content-box;
  border-radius: 7.5px;

  padding: 20px @testimonial__images / 2 20px 20px;
  margin: 0px 0px 50px 0px;
  width: 100%;

  max-width: 330px;
}

.testimonial__item.marker{
  background-color: @background__color--first;

  .testimonial__text{
    color:@font__color--text--first;
  }
}

.testimonial__text{
  color:@font__color--text--quarters;
}

.testimonial__suptext{
  margin-top: 20px;

  color:@font__color--text--third;
  font-size: @font__size + 2px;
}

.testimonial__images,
.gallery__images{
  border-radius: 100%;
  box-shadow: 0 -5px 12px rgba(000, 000, 000, 0.3);
}

.testimonial__images{
  position: absolute;
  top: 50%;
  right: -@testimonial__images / 2;
  transform: translateY(-50%);
}

/* Gallery */
.gallery{
  margin-left: 100px;
}

.gallery__suptitle{
  color: @font__color--text--second;
}

.gallery__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item{
  width:33%;

  margin-bottom: 25px;
}

.gallery__images{
  display: block;

  margin:0px auto;
}

.gallery__subtitle{
  margin-top: 40px;

  color:@font__color--text--quarters;
  font-size: @font__size--level_1 + 5px;
  text-decoration: underline;
  text-align: center;
}

/* footer */
.footer{
  padding: 40px;

  background-color: @background__color--second;
  span{
    color:@font__color--text--second;
  }
}

.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo{
  .header__logo;
  color:@font__color--text--second;
}

/* Media */
@font__size__media--m:   4px;
@font__size__media--s:   6px;
@font__size__media--se:  8px;
@font__size__media--level-l: 50px;
@font__size__media--level-s: 30px;

@font__size__media--logo: 40px;

@padding__media: 0px 20px;

@media (max-width: 990px){
  .container{
    padding: 0px 20px;
  }

  /* callPricing */
  .callPricing{
    padding: @padding__media;
  }
}

@media (max-width: 870px){
  /* Section */
  .section__title{
    font-size: @font__size__media--level-l;
  }

  /* Intro */
  .intro__subtitle{
    font-size: @font__size__media--level-l + 10px;
  }

  /* Testimonial */
  .testimonialGallery{
    padding: 60px 0px;
  }

  .testimonialGallery .container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .testimonial__item{
    box-sizing: border-box;

    max-width: 80%;
    margin: 30px auto 0px;
  }

  .testimonial__title, 
  .gallery__suptitle{
    font-size: @font__size__media--level-l;

    margin-bottom: 30px;
  }

  /* Gallery */
  .gallery{
    margin: 50px 0px 0px 0px;
  }

  .gallery__item{
    margin-bottom: 30px;
  }
}

@media (max-width: 768px){
  /* Nav */
  .nav{
    display: none;
  }

  .nav-toggle{
    display: block;

    right: 20px;
  }

  /* Intro */
  .intro__subtitle{
    font-size: @font__size__media--level-l;
  }

  .intro__inner {
    max-width: 300px;
  }

  .intro__text, .check__text{
    font-size: @font__size--level_1 - @font__size__media--m;  
  }

  .input{
    font-size: @font__size--level_1 - @font__size__media--m - 2px; 

    margin-bottom: 20px;
  }

  .form {
    display: block;
    margin: 0px auto;
  }

  /* Section */
  .services__item{
    width: 50%;
  }

  .services__text{
    margin: 180px auto 0px;
    display: block;
  }

  /* Card */
  .card{
    display: block;

    padding-bottom: 15px;
  }

  .card__item{
    margin: 0px 0px 15px 0px;
  }

  .card__item.marker:before{
    left: 1%;
  }

  .card__header{
    font-size: @font__size__media--level-l;
  }

  .card__price{
    font-size: @font__size__media--level-l;
  }
}

@media (max-width: 660px){
  .header{
    width: 100%;
  }

  .btn{
    font-size: @font__size--level_1 - @font__size__media--s;  
  }

  /* Inner */
  .inner{
    text-align: center;

    display: block;

    left: 50%;
    top: 74%;
    transform: translate3d(-50%, -50%, 0);
  }

  .intro__inner{
    max-width: 100%;
  }

  .intro__text{
    margin:25px 0px;
  }

  /* Section */
  .media--section{
    margin-top: 260px;
  }

  .section__title{
    text-align: center;
  }

  /* Service */
  .services{
    margin-top: 20px;
  }

  .services__item{
    width: 100%;
  }

  /* CallPricing */
  .callPricing__title{
    margin-right: 50px;
  }

  .callPricing .btn{
    max-width: 160px;
  }
}

@media (max-width: 420px){
  /* CallPricing */
  .callPricing .container{
    display: block;
  }

  .callPricing__title{
    text-align: center;

    margin-right: 10px;
  }

  .callPricing .container{
    padding:25px 0px;
  }

  .callPricing .btn{
    margin-top: 10px;
    max-width: 100%;
  }

  /* Section */
  .section__title{
    font-size: @font__size__media--level-s;
  }

  /* Intro */
  .intro{
    top:80%;
  }

  .intro__subtitle{
    font-size: @font__size__media--level-s + 10px;
  }

  .intro__text{
    margin:15px 0px;
  }

  .inner{
    top: 74%;
  }

  .btn{
    font-size: @font__size--level_1 - @font__size__media--se; 
  }

  /* Testimonial */
  .testimonialGallery{
    padding: 20px 0px;
  }

  .testimonial__title, .gallery__suptitle{
    margin-bottom: 0px;

    font-size: @font__size__media--level-s;
  }

  .testimonial__item{
    margin: 80px auto 0px;
    padding: 20px;

    font-size: @font__size - 2px;
    text-align: center;
  }

  .testimonial__suptext{
    font-size: 15px;
  }

  .testimonial__images{
    top: -@testimonial__images / 2;
    left: 50%;
    transform: translateX(-50%);
  }

  .testimonial__text{
    padding-top: 45px;
  }

  /* Gallery */
  .gallery__items{
    margin-top: 20px;
  }

  .gallery__item{
    width:50%;
  }

  .gallery__subtitle{
    font-size: @font__size__media--level-s - 10px;

    margin: 0px;
  }

  /* Footer */
  .footer{
    padding: 15px 15px 25px 15px;
  }

  .footer .container{
    flex-direction: column;
  }

  .footer__text {
    order: 2;
  }

  .footer__logo{
    margin-bottom: 10px;
  }
}

@media (max-width: 324px){
  /* Header */
  .header__logo{
    font-size: @font__size__media--logo;
  }

  /* Intro */
  .inner{
    top:65%;
  }

  .form{
    padding: 10px;
  }

  .input{
    margin-bottom: 10px;
  }

  .form{
    width:100%;
  }

  .input:first-child{
    margin-top: 10px;
  }

  .check__text{
    font-size: @font__size--level_1 - @font__size__media--se; 
    vertical-align: top;
  }

  .btn{
    margin-top: 10px;
  }

  /* Section */
  .section__title{
    font-size: @font__size__media--level-s;
  }

  .media--section{
    margin-top: 140px;
  }

  /* Services */
  .services__item{
    margin-bottom: 50px;
  }

  .services__text{
    margin: 170px auto 0px;
  }

  /* Testimonial */
  .testimonial__title, .gallery__suptitle{
    font-size: @font__size__media--level-s;
  }

  /* Card */
  .card__header{
    font-size: 40px;
  }

  .card__header{
    margin-bottom: 10px;
  }

  /* Gallery */
  .gallery__subtitle{
    margin-top: 0px;

    font-size: 18px;
  }
}